---
export interface Props {
  id?: string
  className?: string
}

const { id, className } = Astro.props
---

<section {id} class="px-6 py-8 lg:py-16">
  <div
    class={`max-w-5xl items-center w-full m-auto flex flex-col gap-6 ${
      className ?? ""
    }`}
  >
    <slot />
  </div>
</section>
